@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.navbar {
    height:100px;
}
.logo {
    margin-left:10px;
}

/*         HAMBURGUESAS     */
.bgMenu{
    background-color:rgba(33,37,41,255);
    padding-bottom:30px;
}
.tituloBlanco {
    background-color: rgba(33,37,41,255);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:50px;
    font-size:50px;
    font-family: "Saira Stencil One";
}

.menu {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    background-color:rgba(33,37,41,255);
    gap:50px;
}

.hamburguesa {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:25rem;
    width:28rem;
}

.contenedorTexto {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.tituloHamburguesa {
    color:yellow;
    font-size: 25px;
    text-align:center;
    font-family: "Allerta Stencil";
}
.textoHamburguesa {
    color:rgba(255, 255, 255, 0.904);
    font-size:15px;
    text-align:center;
    font-family: "Allerta Stencil";
}

/*      ACOMPAÑAMIENTOS    */

.bgMenu2 {
    background-color: rgb(202, 202, 125);
    padding-bottom:70px;
}

.tituloBlanco2 {
    background-color: rgb(202, 202, 125);
    color:dark;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:50px;
    font-size:50px;
    font-family: "Saira Stencil One";
}

.menu2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    background-color:transparent;
    gap:50px;
}

.acompañamiento {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:25rem;
    width:28rem;
}

.contenedorTexto {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.tituloAcompañamiento {
    color:dark;
    font-size:25px;
    text-align:center;
    font-family: "Allerta Stencil";
}
.textoAcompañamiento {
    color: whitesmoke;
    font-size:15px;
    text-align: center;
    font-family: "Allerta Stencil";
}
.tituloSucursales {
    color:whitesmoke;
    font-family: "Saira Stencil One";
    text-align: center;
    padding-top:30px;
    margin-bottom:60px;
}
.sucursal {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.tituloSucursal {
    font-family: "Allerta Stencil";
    color:whitesmoke;
    padding-bottom:20px;

}
.sucursales {
    background-color: rgba(33,37,41,255);
    padding-bottom:200px;
    padding-top:30px;
}

.containerSucursal {
    display:flex;
    justify-content: center;
    gap:50px;
}

/*      FOOTER     */

.footer {
    background-color: black;
    height:200px;
    padding-top:50px;
}
.footer__contenedor {
    display:flex;
    justify-content: space-between;
}
.navegacion {
    margin-left:20px;
    color:white;
    width:30%;
    font-family: "Allerta Stencil";
}
#barra {
    display:flex;
    flex-direction: column;
    width:50px;
}
.barraFooter {
    text-decoration: none;
    color:white;
}
.barraFooter:hover {
    color:grey;
}
.newsletter {
    width:auto;
}
.newsletter__titulo {
    font-size:20px;
    color:white;
    font-family: "Allerta Stencil";
}

.newsletter__boton {
    display:flex;
    margin-top:20px;
    gap:10px;
}
.contenedorRedes {
    display:flex;
    flex-direction:column;
    gap:70px;
}
.contenedor-texto {
    display:flex;
    margin-right:30px;
    gap:30px;
}
.contenedor-iconos {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    width:auto;
    margin-right:30px;
    gap:10px;
}
.icono-link {
    text-decoration: none;
}

.icono-footer {
    color:white;
    display: flex;
    margin-top:5px;
    
}

.infoTienda {
    color:white;
    font-size:20px;
    font-family: "Allerta Stencil";
    text-transform: uppercase;
}
.infoTienda2 {
    color:white;
    font-size:12px;
    font-family: "Allerta Stencil";
    text-transform: uppercase;
}