@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    background-color: rgb(24,24,24);
    height:90px;
    position: fixed;
    width:100%;
    top: 0;
    left:0;
    padding: 0px 20px;
    z-index: 2;
}
.navbar {
    display:flex;
    justify-content: space-between;
    height:auto;
    

}

.navbarLink {
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.logo {
    font-size:20px;
    padding:0 20px;
    line-height: 70px;
    justify-self:center;
}
.navbarMenu {
    display:flex;
    align-items:center;
    margin-right:20px;
    list-style: none;
    margin-bottom:0px;

}
.navbarMenuItem {
    font-size:18px;
    margin: 0 10px;
    line-height: 70px;
    width:max-content;
}
.navbarMenuLink {
    color:rgba(255, 255, 255, 0.849);
}
.navbarMenuLink:hover{
    color:white;
}

.logo:hover {
    transform: scale(1.05,1.05);
    transition: all 0.5s;
}
.botonNavbar{
    color:white;
    background:none;
    border: none;
    font-size:20px;
    padding: 0 20px;
    line-height:60px;
    display:none;
}
/* HAMBURGUESAS */


.bgMenu{
    background-color:rgba(33,37,41,255);
    padding-bottom:30px;
}
.tituloBlanco {
    background-color: rgba(33,37,41,255);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:50px;
    font-size:30px;
    font-family: "Saira Stencil One";
}

.menu {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    background-color:rgba(33,37,41,255);
    gap:10px;
}

.hamburguesa {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:25rem;
    width:28rem;
}
.contenedorTexto {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.tituloHamburguesa {
    color:yellow;
    font-size: 22px;
    text-align:center;
    font-family: "Allerta Stencil";
}
.textoHamburguesa {
    color:rgba(255, 255, 255, 0.904);
    font-size:12px;
    text-align:center;
    font-family: "Allerta Stencil";
}

/*      ACOMPAÑAMIENTOS    */

.bgMenu2 {
    background-color: rgb(202, 202, 125);
    padding-bottom:70px;
}
.tituloBlanco2 {
    background-color: rgb(202, 202, 125);
    color:dark;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:50px;
    font-size:30px;
    font-family: "Saira Stencil One";
}
.menu2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    background-color:transparent;
    gap:10px;
}

.acompañamiento {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:25rem;
    width:28rem;
}

.contenedorTexto {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.tituloAcompañamiento {
    color:dark;
    font-size:22px;
    text-align:center;
    font-family: "Allerta Stencil";
}
.textoAcompañamiento {
    color: whitesmoke;
    font-size:12px;
    text-align: center;
    font-family: "Allerta Stencil";
}
/* SUCURSALES */


.tituloSucursales {
    color:whitesmoke;
    font-family: "Saira Stencil One";
    text-align: center;
    padding-top:30px;
    margin-bottom:60px;
}
.sucursal {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.tituloSucursal {
    font-family: "Allerta Stencil";
    color:whitesmoke;
    padding-bottom:20px;

}
.sucursales {
    background-color: rgba(33,37,41,255);
    padding-bottom:200px;
    padding-top:30px;
}

.containerSucursal {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:50px;
}

/*      FOOTER     */

.footer {
    background-color: black;
    height:auto;
    padding-top:50px;
}
.footer__contenedor {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.navegacion {
    margin-left:20px;
    color:white;
    font-family: "Allerta Stencil";
}
#barra {
    display:flex;
    flex-direction: column;
}

.barraFooter {
    text-decoration: none;
    color:white;
}
.barraFooter:hover {
    color:grey;
}
.newsletter {
    width:auto;
    margin-left:20px;
    margin-bottom: 50px;
}
.newsletter__titulo {
    font-size:20px;
    color:white;
    font-family: "Allerta Stencil";
    padding-top:50px;
}

.newsletter__boton {
    display:flex;
    margin-top:20px;
    height:40px;
    gap:10px;
}
.contenedorRedes {
    display:flex;
    flex-direction:column;
    gap:70px;
}
.contenedor-texto {
    display:flex;
    gap:7px;
    margin-left:20px;
}
.barrasIcono {
    opacity:0;
    height:1px;
    width:1px;
}
.contenedor-iconos {
    display:flex;
    justify-content:center;
    align-items:flex-end;
    width:auto;
    gap:30px;
}
.icono-link {
    text-decoration: none;
}

.icono-footer {
    color:white;
    display: flex;
    margin-top:5px;
    margin-bottom:10px;    
}
.infoTienda {
    color:white;
    font-size:12px;
    font-family: "Allerta Stencil";
    text-transform: uppercase;
}
.infoTienda2 {
    color:white;
    font-size:8px;
    font-family: "Allerta Stencil";
    text-transform: uppercase;
}

@media (min-width: 300px) and (max-width:768px) {
    .header {
        height: 60px;
    }
    .logo {
        font-size:15px;
        padding: 0 20px;
        line-height: 60px;
    } 
    .navbarMenu {
        flex-direction:column;
        align-self:center;
        margin-right:0px;
        background-color:rgb(24,24,24);
        position:fixed;
        left:0;
        top:60px;
        width:100%;
        height:100%;
        padding:0;
        padding-top:100px;
        gap:20px;
        left:100%;
        transition: left 0.5s;
        z-index:1000;
    }
    .navbarMenuItem {
        line-height: 50px;
    }
    .navbarMenuLink {
        font-size:30px;
    }
    .navbarMenuLink:hover {
        background:none;
        color:white;
    }
    .botonNavbar {
        display:block;
    }
    .navbarMenuVisible {
        left:0;
    }
    .carrouselFotos {
        margin-top:70px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer__contenedor {
        justify-content:center;
        flex-direction: row;
    }
    .navegacion {
        width:30%;
    }
    #barra {
        width:50px;
    }
    .contenedor-iconos {
        justify-content:flex-end;
        margin-right:20px;
    }
    .navegacion {
        margin-left:20px;
    }
    .navegacion h1 {
        font-size:20px;
    }
    #barra {
        font-size:12px;
    }
    .newsletter__titulo {
        padding-top:0px;
        font-size:20px;
    }
    .newsletter__boton input {
        width:100px;
        height:30px;
    }
    .newsletter__boton button {
        height:30px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .footer__contenedor {
        justify-content:center;
        flex-direction: row;
    }
    .navegacion {
        width:30%;
    }
    #barra {
        width:50px;
    }
    .contenedor-iconos {
        justify-content:flex-end;
        margin-right:20px;
    }
    .navegacion {
        margin-left:20px;
    }
    .navegacion h1 {
        font-size:20px;
    }
    #barra {
        font-size:12px;
    }
    .newsletter__titulo {
        padding-top:0px;
        font-size:20px;
    }
    .newsletter__boton input {
        width:100px;
        height:30px;
    }
    .newsletter__boton button {
        height:30px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@media (min-width:1201px) and (max-width:1400px) {

    .containerSucursal {
        flex-direction: row;
        gap:50px;
    }
    .footer__contenedor {
        justify-content:center;
        flex-direction: row;
    }
    .navegacion {
        width:30%;
    }
    #barra {
        width:50px;
    }
    .contenedor-iconos {
        justify-content:flex-end;
        margin-right:20px;
    }
    .navegacion {
        margin-left:20px;
    }
    .navegacion h1 {
        font-size:20px;
    }
    #barra {
        font-size:12px;
    }
    .newsletter__titulo {
        padding-top:0px;
        font-size:20px;
    }
    .newsletter__boton input {
        width:100px;
        height:30px;
    }
    .newsletter__boton button {
        height:30px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@media (min-width:1401px) {
.containerSucursal {
    flex-direction: row;
}
.footer {
    height:200px;
    padding-top:50px;
    gap:70px;
}
.footer__contenedor {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navegacion {
    margin-left:20px;
    width:30%;
}
#barra {
    display:flex;
    flex-direction: column;
    width:50px;
}
.newsletter {
    width:auto;
}
.newsletter__titulo {
    font-size:20px;
    padding-top:0px;
}

.newsletter__boton {
    margin-top:20px;
    gap:10px;
}
.contenedorRedes {
    gap:0px;
}
.contenedor-texto {
    margin-right:30px;
    gap:30px;
}
.contenedor-iconos {
    justify-content:flex-end;
    align-items:flex-end;
    width:auto;
    margin-right:30px;
    gap:10px;
}

.icono-footer {
    margin-top:5px;
}

.infoTienda {
    font-size:20px;
}
.infoTienda2 {
    font-size:12px;
}
}